<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Eval</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">SA EPE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/create">New Eval <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/approve">Pending Evals <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/archive">Archived Evals <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
    <h1>This is a dummy create page. Submit the form to proceed.</h1>

    <p>You can select whether you want the form to be considered "valid" or not. Validating forms is functionality that I will add to the server in a later sprint.</p>
    <p>We will need to add in the functionality for form validation as the semester carries on.</p>

    {{#if errorMessages}}
    <p>{{errorMessages}}</p>
    {{/if}}

    <form action="/create" method="post">
      Employee:<br>
      <input type="text" name="employeeName">
      <br>
      Whatever:<br>
      <input type="text" name="somethingElse">
      <br><br>
      Do you want to this form to be valid or not?:<br>
      <input type="radio" name="validOrNot" value="validate" checked> Valid<br>
      <input type="radio" name="validOrNot" value="invalidate"> Invalid<br>
      <input type="submit" value="Submit Form">
    </form>

  </body>
</html>
