<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>This is a dummy home page. Press any of the three buttons to proceed.</h1>

    <p>The home page is our simplest page. We do not expect any changes to the front-end functionality currently provided here.</p>
    <p>On the server side of things, we will incorproate user authentication as the semester carries on.</p>

    <p>Also, the front-end here will all be replaced by the front-end code that the other group members have worked on. This is all placeholder, even if some of the functionality isn't expected to change.</p>

    <form action="/create" method="get">
      <input type="submit" value="Create">
    </form>

    <form action="/approve" method="get">
      <input type="submit" value="Approve">
    </form>

    <form action="/archive" method="get">
      <input type="submit" value="Archive">
    </form>

  </body>
</html>
