<!DOCTYPE html>
<html>
<head>
	<title>Main Splash</title>
</head>
<body>
  <p>Success!</p>

  {{#if message}}
  <p>{{message}}</p>
  {{/if}}

  <a href="/home">Click here to go to the Home Page.</a>
</body>
</html>
